@media screen and (min-width: 1200px) {
  .conteiner {
    max-width: 1158px;
    padding-right: 15px;
    padding-left: 15px;
  }

  /*-------------Header------------*/

  .header-adress-list {
    display: flex;
    gap: 40px;
    align-items: center;
  }

  .header-adress-link {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    padding: 24px 0;
    transition: var(--header-link-transition);
  }

  .header-adress-list {
    padding: 0;
  }

  .header {
    box-shadow: none;
  }

  /*-----------------Hero-----------*/

  .hero-item {
    padding-top: 188px;
    padding-bottom: 188px;
    max-width: 1440px;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/studio/background-image/people-office.jpg);
  }

  @media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .hero-item {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/studio/background-image/people-office-x.jpg);
  }
}

  .hero-header {
    margin-bottom: 48px;
  }

  /*---------------Features----------------*/

  .features-item {
    padding-top: 120px;
    padding-bottom: 120px;
  }

  .features-list-item {
    width: calc((100% - 72px) / 4);
  }

  .features-icon-box {
    display: flex;
  }

  .features-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
  }

  .features-text {
    font-weight: 400;
  }

  /*--------------Work description--------------*/

  .Work-description-item {
    display: block;
  }

  /*-----------------Our team------------------------*/

  .our-team-item {
    padding-top: 120px;
    padding-bottom: 120px;
  }

  .our-team-gallery {
  }

  .our-team-element {
    width: calc((100% - 72px) / 4);
  }

  /* ------------Customers--------------- */

  .customers-item {
    padding-top: 120px;
    padding-bottom: 120px;
  }

  .customers-list {
    width: auto;
    column-gap: 24px;
  }

  .customers-list-item {
    width: calc((100% - 120px) / 6);
  }

  /*-----------------Footer-------------*/

  .footer-item {
    padding-top: 100px;
    padding-bottom: 100px;
  }

  .footer-box {
    flex-wrap: nowrap;
    column-gap: 0;
    gap: 0;
  }

  .footer-logo-thumb {
    margin-left: 0;
  }

  .social-media-thumb {
    width: 208px;
    margin-left: 120px;
  }

  .subscribe-thumb {
    margin-left: 80px;
  }

  .subscribe-form {
    width: 453px;
    column-gap: 0;
    justify-content: space-between;
  }

  /*-----------Work Proposal-------------*/

  .work-prop-item {
    padding-top: 96px;
    padding-bottom: 120px;
  }

  .work-prop-btn-block {
    margin-bottom: 72px;
  }

  .work-prop-list-block {
    justify-content: center;
    row-gap: 48px;
  }

  .work-prop-element {
    width: calc((100% - 48px) / 3);
  }
}
