@media screen and (min-width: 340px) {
  .hero-header {
    width: 320px;
  }
}

@media screen and (min-width: 428px) {
  .subscribe-input {
    width: 396px;
  }
}

@media screen and (min-width: 480px) {
  .features-text {
    width: 396px;
  }

  .features-text {
    text-align: left;
  }

  .modal-order {
    width: 392px;
  }

  .form-list {
    width: 360px;
  }

  .form-accept-text {
    justify-content: start;
  }
}
