@media screen and (min-width: 768px) {
  .conteiner {
    max-width: 768px;
  }

  /*-------------Header---------------*/

  .header-mob-menu-btn {
    display: none;
  }

  .header-logo {
    margin-right: 120px;
  }

  .navigation-list {
    display: block;
    display: flex;
    align-items: center;
    gap: 40px;
  }

  .header-adress-list {
    display: block;
  }

  .header-navigation {
    display: flex;
    align-items: center;
  }

  .direct-page::after {
    display: block;
    content: '';
    position: absolute;
    bottom: -4px;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: #404bbf;
  }

  .direct-page {
    color: #404bbf;
  }

  .header-adress-list {
    padding: 24px 0 10px;
  }

  .header-adress-link {
    font-size: 12px;
    line-height: 1.33;
    letter-spacing: 0.04em;
  }

  /*----------------Hero------------------*/

  .hero-item {
    padding-bottom: 108px;
  }

  .hero-header {
    font-size: 56px;
    line-height: 1.07;
    margin-bottom: 40px;
    width: 496px;
  }

  /*------------Features--------------*/

  .features-list {
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 72px;
  }

  .features-list-item {
    width: calc((100% - 24px) / 2);
  }

  .features-title {
    text-align: start;
  }

  .features-text {
    width: auto;
  }

  /*-----------------Our team------------------------*/

  .our-team-item {
    padding-bottom: 104px;
  }

  .our-team-gallery {
    flex-direction: row;
    row-gap: 64px;
    column-gap: 24px;
    flex-wrap: wrap;
  }
  .our-team-element {
    width: calc((100% - 208px) / 2);
  }

  /* ------------Customers--------------- */

  .customers-list {
    width: 552px;
    margin: auto;
  }

  .customers-list-item {
    width: calc((100% - 48px) / 3);
  }

  /*-----------------Footer-------------*/

  .footer-box {
    flex-direction: row;
    flex-wrap: wrap;
    align-items: baseline;
    column-gap: 24px;
  }

  .footer-logo-thumb {
    margin-left: 92px;
  }

  .footer-logo {
    justify-content: start;
  }

  .social-media-titel {
    text-align: left;
  }

  .subscribe-thumb {
    margin-left: 92px;
  }

  .subscribe-titel {
    text-align: left;
  }
  .subscribe-form {
    flex-direction: row;
    column-gap: 24px;
  }

  .subscribe-input {
    width: 264px;
  }

  /*-----------Work Proposal-------------*/

  .work-prop-item {
    padding-top: 64px;
    padding-bottom: 96px;
  }

  .work-prop-btn-block {
    flex-wrap: nowrap;
    justify-content: center;
    margin-bottom: 64px;
    height: auto;
  }

  .work-prop-btn {
    height: 48px;
  }

  .work-prop-list-block {
    justify-content: start;
    row-gap: 72px;
  }

  .work-prop-element {
    width: calc((100% - 24px) / 2);
  }

  /* -----------Modal window------------ */

  .modal-order {
    width: 408px;
    padding: 24px;
  }

  .form-list {
    width: 360px;
  }
}
